@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

header {
    width: 100%;
    height: 145px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 100;
    background-color: #23b192;
    box-shadow: 0px 5px 4px rgba(44, 62, 80, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.add-to-do {
    width: 100%;
    height: 50px;
    padding: 0 60px 0 0;
    float: left;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    font-weight: normal;
    text-indent: 18px;
    border-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#to-do-date {
    margin-top: 10px;
}

.add-to-do::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.add-to-do::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.add-to-do:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.add-to-do::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.add-to-do-btn {
    width: 50px;
    height: 110px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background-color: white;
    border: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.fa-plus {
    font-size: 40px;
    color: #23b192;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

.to-do {
    padding-top: 170px;
}

.to-do-2 {
    padding-top: 40px;
}

.delete {
    color: #aaaaaa;
    transition: color 200ms ease-in-out;
    font-size: 13px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.delete:hover {
    color: #ff0000;
}

.deleted {
    color: white;
    background-color: #23b192;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #23b192;
    font-size: 13px;
    transition: all 200ms ease-in-out;
}

.deleted:hover {
    color: #23b192;
    background-color: white !important;
}

.check {
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #23b192;
    font-size: 13px;
    background-color: white;
    transition: all 200ms ease-in-out;
}

.margin5 {
    margin-right: 5px;
}

.check:hover {
    color: white;
    background-color: #23b192 !important;
}

li {
    background-color: white;
    box-shadow: 0px 5px 4px rgba(44, 62, 80, 0.25);
    min-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 40px;
    padding: 12px;
}

.buttons {
    float: right;
}

.can {
    display: flex;
    color: #999999;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
    color: #999999;
    align-items: center;
    justify-content: center;
}

.small {
    font-size: 30px !important;
    padding-left: 20px;
    font-size: 5px;
}